@import "variables";

@font-face {
  font-family: 'edicon';
  src:  url('@{icomoon-font-path}/edicon.eot?484r1f');
  src:  url('@{icomoon-font-path}/edicon.eot?484r1f#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/edicon.woff2?484r1f') format('woff2'),
    url('@{icomoon-font-path}/edicon.ttf?484r1f') format('truetype'),
    url('@{icomoon-font-path}/edicon.woff?484r1f') format('woff'),
    url('@{icomoon-font-path}/edicon.svg?484r1f#edicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="edicon-"], [class*=" edicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'edicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edicon-internet {
  &:before {
    content: @edicon-internet;
  }
}
.edicon-moddb {
  &:before {
    content: @edicon-moddb;
  }
}
.edicon-indiedb {
  &:before {
    content: @edicon-indiedb;
  }
}
.edicon-traxsource {
  &:before {
    content: @edicon-traxsource;
  }
}
.edicon-gamefor {
  &:before {
    content: @edicon-gamefor;
  }
}
.edicon-pixiv {
  &:before {
    content: @edicon-pixiv;
  }
}
.edicon-myanimelist {
  &:before {
    content: @edicon-myanimelist;
  }
}
.edicon-blackberry {
  &:before {
    content: @edicon-blackberry;
  }
}
.edicon-wickr {
  &:before {
    content: @edicon-wickr;
  }
}
.edicon-spip {
  &:before {
    content: @edicon-spip;
  }
}
.edicon-napster {
  &:before {
    content: @edicon-napster;
  }
}
.edicon-beatport {
  &:before {
    content: @edicon-beatport;
  }
}
.edicon-hackerone {
  &:before {
    content: @edicon-hackerone;
  }
}
.edicon-hackernews {
  &:before {
    content: @edicon-hackernews;
  }
}
.edicon-smashwords {
  &:before {
    content: @edicon-smashwords;
  }
}
.edicon-kobo {
  &:before {
    content: @edicon-kobo;
  }
}
.edicon-bookbub {
  &:before {
    content: @edicon-bookbub;
  }
}
.edicon-mailru {
  &:before {
    content: @edicon-mailru;
  }
}
.edicon-gitlab {
  &:before {
    content: @edicon-gitlab;
  }
}
.edicon-instructables {
  &:before {
    content: @edicon-instructables;
  }
}
.edicon-portfolio {
  &:before {
    content: @edicon-portfolio;
  }
}
.edicon-codered {
  &:before {
    content: @edicon-codered;
  }
}
.edicon-origin {
  &:before {
    content: @edicon-origin;
  }
}
.edicon-nextdoor {
  &:before {
    content: @edicon-nextdoor;
  }
}
.edicon-udemy {
  &:before {
    content: @edicon-udemy;
  }
}
.edicon-livemaster {
  &:before {
    content: @edicon-livemaster;
  }
}
.edicon-crunchbase {
  &:before {
    content: @edicon-crunchbase;
  }
}
.edicon-homefy {
  &:before {
    content: @edicon-homefy;
  }
}
.edicon-calendly {
  &:before {
    content: @edicon-calendly;
  }
}
.edicon-realtor {
  &:before {
    content: @edicon-realtor;
  }
}
.edicon-tidal {
  &:before {
    content: @edicon-tidal;
  }
}
.edicon-qobuz {
  &:before {
    content: @edicon-qobuz;
  }
}
.edicon-natgeo {
  &:before {
    content: @edicon-natgeo;
  }
}
.edicon-mastodon {
  &:before {
    content: @edicon-mastodon;
  }
}
.edicon-unsplash {
  &:before {
    content: @edicon-unsplash;
  }
}
.edicon-homeadvisor {
  &:before {
    content: @edicon-homeadvisor;
  }
}
.edicon-angieslist {
  &:before {
    content: @edicon-angieslist;
  }
}
.edicon-codepen {
  &:before {
    content: @edicon-codepen;
  }
}
.edicon-slack {
  &:before {
    content: @edicon-slack;
  }
}
.edicon-openaigym {
  &:before {
    content: @edicon-openaigym;
  }
}
.edicon-logmein {
  &:before {
    content: @edicon-logmein;
  }
}
.edicon-fiverr {
  &:before {
    content: @edicon-fiverr;
  }
}
.edicon-gotomeeting {
  &:before {
    content: @edicon-gotomeeting;
  }
}
.edicon-aliexpress {
  &:before {
    content: @edicon-aliexpress;
  }
}
.edicon-guru {
  &:before {
    content: @edicon-guru;
  }
}
.edicon-appstore {
  &:before {
    content: @edicon-appstore;
  }
}
.edicon-homes {
  &:before {
    content: @edicon-homes;
  }
}
.edicon-zoom {
  &:before {
    content: @edicon-zoom;
  }
}
.edicon-alibaba {
  &:before {
    content: @edicon-alibaba;
  }
}
.edicon-craigslist {
  &:before {
    content: @edicon-craigslist;
  }
}
.edicon-wix {
  &:before {
    content: @edicon-wix;
  }
}
.edicon-redfin {
  &:before {
    content: @edicon-redfin;
  }
}
.edicon-googlecalendar {
  &:before {
    content: @edicon-googlecalendar;
  }
}
.edicon-shopify {
  &:before {
    content: @edicon-shopify;
  }
}
.edicon-freelancer {
  &:before {
    content: @edicon-freelancer;
  }
}
.edicon-seedrs {
  &:before {
    content: @edicon-seedrs;
  }
}
.edicon-bing {
  &:before {
    content: @edicon-bing;
  }
}
.edicon-doodle {
  &:before {
    content: @edicon-doodle;
  }
}
.edicon-bonanza {
  &:before {
    content: @edicon-bonanza;
  }
}
.edicon-squarespace {
  &:before {
    content: @edicon-squarespace;
  }
}
.edicon-toptal {
  &:before {
    content: @edicon-toptal;
  }
}
.edicon-gust {
  &:before {
    content: @edicon-gust;
  }
}
.edicon-ask {
  &:before {
    content: @edicon-ask;
  }
}
.edicon-trulia {
  &:before {
    content: @edicon-trulia;
  }
}
.edicon-loomly {
  &:before {
    content: @edicon-loomly;
  }
}
.edicon-ghost {
  &:before {
    content: @edicon-ghost;
  }
}
.edicon-upwork {
  &:before {
    content: @edicon-upwork;
  }
}
.edicon-fundable {
  &:before {
    content: @edicon-fundable;
  }
}
.edicon-booking {
  &:before {
    content: @edicon-booking;
  }
}
.edicon-googlemaps {
  &:before {
    content: @edicon-googlemaps;
  }
}
.edicon-zillow {
  &:before {
    content: @edicon-zillow;
  }
}
.edicon-niconico {
  &:before {
    content: @edicon-niconico;
  }
}
.edicon-toneden {
  &:before {
    content: @edicon-toneden;
  }
}
.edicon-augment {
  &:before {
    content: @edicon-augment;
  }
}
.edicon-bitbucket {
  &:before {
    content: @edicon-bitbucket;
  }
}
.edicon-fyuse {
  &:before {
    content: @edicon-fyuse;
  }
}
.edicon-yt-gaming {
  &:before {
    content: @edicon-yt-gaming;
  }
}
.edicon-sketchfab {
  &:before {
    content: @edicon-sketchfab;
  }
}
.edicon-mobcrush {
  &:before {
    content: @edicon-mobcrush;
  }
}
.edicon-microsoft {
  &:before {
    content: @edicon-microsoft;
  }
}
.edicon-pandora {
  &:before {
    content: @edicon-pandora;
  }
}
.edicon-messenger {
  &:before {
    content: @edicon-messenger;
  }
}
.edicon-gamewisp {
  &:before {
    content: @edicon-gamewisp;
  }
}
.edicon-bloglovin {
  &:before {
    content: @edicon-bloglovin;
  }
}
.edicon-tunein {
  &:before {
    content: @edicon-tunein;
  }
}
.edicon-gamejolt {
  &:before {
    content: @edicon-gamejolt;
  }
}
.edicon-trello {
  &:before {
    content: @edicon-trello;
  }
}
.edicon-spreadshirt {
  &:before {
    content: @edicon-spreadshirt;
  }
}
.edicon-500px {
  &:before {
    content: @edicon-500px;
  }
}
.edicon-8tracks {
  &:before {
    content: @edicon-8tracks;
  }
}
.edicon-airbnb {
  &:before {
    content: @edicon-airbnb;
  }
}
.edicon-alliance {
  &:before {
    content: @edicon-alliance;
  }
}
.edicon-amazon {
  &:before {
    content: @edicon-amazon;
  }
}
.edicon-amplement {
  &:before {
    content: @edicon-amplement;
  }
}
.edicon-android {
  &:before {
    content: @edicon-android;
  }
}
.edicon-angellist {
  &:before {
    content: @edicon-angellist;
  }
}
.edicon-apple {
  &:before {
    content: @edicon-apple;
  }
}
.edicon-appnet {
  &:before {
    content: @edicon-appnet;
  }
}
.edicon-baidu {
  &:before {
    content: @edicon-baidu;
  }
}
.edicon-bandcamp {
  &:before {
    content: @edicon-bandcamp;
  }
}
.edicon-battlenet {
  &:before {
    content: @edicon-battlenet;
  }
}
.edicon-mixer {
  &:before {
    content: @edicon-mixer;
  }
}
.edicon-bebee {
  &:before {
    content: @edicon-bebee;
  }
}
.edicon-bebo {
  &:before {
    content: @edicon-bebo;
  }
}
.edicon-behance {
  &:before {
    content: @edicon-behance;
  }
}
.edicon-blizzard {
  &:before {
    content: @edicon-blizzard;
  }
}
.edicon-blogger {
  &:before {
    content: @edicon-blogger;
  }
}
.edicon-buffer {
  &:before {
    content: @edicon-buffer;
  }
}
.edicon-chrome {
  &:before {
    content: @edicon-chrome;
  }
}
.edicon-coderwall {
  &:before {
    content: @edicon-coderwall;
  }
}
.edicon-curse {
  &:before {
    content: @edicon-curse;
  }
}
.edicon-dailymotion {
  &:before {
    content: @edicon-dailymotion;
  }
}
.edicon-deezer {
  &:before {
    content: @edicon-deezer;
  }
}
.edicon-delicious {
  &:before {
    content: @edicon-delicious;
  }
}
.edicon-deviantart {
  &:before {
    content: @edicon-deviantart;
  }
}
.edicon-diablo {
  &:before {
    content: @edicon-diablo;
  }
}
.edicon-digg {
  &:before {
    content: @edicon-digg;
  }
}
.edicon-discord {
  &:before {
    content: @edicon-discord;
  }
}
.edicon-disqus {
  &:before {
    content: @edicon-disqus;
  }
}
.edicon-douban {
  &:before {
    content: @edicon-douban;
  }
}
.edicon-draugiem {
  &:before {
    content: @edicon-draugiem;
  }
}
.edicon-dribbble {
  &:before {
    content: @edicon-dribbble;
  }
}
.edicon-drupal {
  &:before {
    content: @edicon-drupal;
  }
}
.edicon-ebay {
  &:before {
    content: @edicon-ebay;
  }
}
.edicon-ello {
  &:before {
    content: @edicon-ello;
  }
}
.edicon-endomodo {
  &:before {
    content: @edicon-endomodo;
  }
}
.edicon-envato {
  &:before {
    content: @edicon-envato;
  }
}
.edicon-etsy {
  &:before {
    content: @edicon-etsy;
  }
}
.edicon-facebook {
  &:before {
    content: @edicon-facebook;
  }
}
.edicon-feedburner {
  &:before {
    content: @edicon-feedburner;
  }
}
.edicon-filmweb {
  &:before {
    content: @edicon-filmweb;
  }
}
.edicon-firefox {
  &:before {
    content: @edicon-firefox;
  }
}
.edicon-flattr {
  &:before {
    content: @edicon-flattr;
  }
}
.edicon-flickr {
  &:before {
    content: @edicon-flickr;
  }
}
.edicon-formulr {
  &:before {
    content: @edicon-formulr;
  }
}
.edicon-forrst {
  &:before {
    content: @edicon-forrst;
  }
}
.edicon-foursquare {
  &:before {
    content: @edicon-foursquare;
  }
}
.edicon-friendfeed {
  &:before {
    content: @edicon-friendfeed;
  }
}
.edicon-github {
  &:before {
    content: @edicon-github;
  }
}
.edicon-goodreads {
  &:before {
    content: @edicon-goodreads;
  }
}
.edicon-google {
  &:before {
    content: @edicon-google;
  }
}
.edicon-googlescholar {
  &:before {
    content: @edicon-googlescholar;
  }
}
.edicon-googlegroups {
  &:before {
    content: @edicon-googlegroups;
  }
}
.edicon-googlephotos {
  &:before {
    content: @edicon-googlephotos;
  }
}
.edicon-googleplus {
  &:before {
    content: @edicon-googleplus;
  }
}
.edicon-grooveshark {
  &:before {
    content: @edicon-grooveshark;
  }
}
.edicon-hackerrank {
  &:before {
    content: @edicon-hackerrank;
  }
}
.edicon-hearthstone {
  &:before {
    content: @edicon-hearthstone;
  }
}
.edicon-hellocoton {
  &:before {
    content: @edicon-hellocoton;
  }
}
.edicon-heroes {
  &:before {
    content: @edicon-heroes;
  }
}
.edicon-smashcast {
  &:before {
    content: @edicon-smashcast;
  }
}
.edicon-horde {
  &:before {
    content: @edicon-horde;
  }
}
.edicon-houzz {
  &:before {
    content: @edicon-houzz;
  }
}
.edicon-icq {
  &:before {
    content: @edicon-icq;
  }
}
.edicon-identica {
  &:before {
    content: @edicon-identica;
  }
}
.edicon-imdb {
  &:before {
    content: @edicon-imdb;
  }
}
.edicon-instagram {
  &:before {
    content: @edicon-instagram;
  }
}
.edicon-issuu {
  &:before {
    content: @edicon-issuu;
  }
}
.edicon-istock {
  &:before {
    content: @edicon-istock;
  }
}
.edicon-itunes {
  &:before {
    content: @edicon-itunes;
  }
}
.edicon-keybase {
  &:before {
    content: @edicon-keybase;
  }
}
.edicon-lanyrd {
  &:before {
    content: @edicon-lanyrd;
  }
}
.edicon-lastfm {
  &:before {
    content: @edicon-lastfm;
  }
}
.edicon-line {
  &:before {
    content: @edicon-line;
  }
}
.edicon-linkedin {
  &:before {
    content: @edicon-linkedin;
  }
}
.edicon-livejournal {
  &:before {
    content: @edicon-livejournal;
  }
}
.edicon-lyft {
  &:before {
    content: @edicon-lyft;
  }
}
.edicon-macos {
  &:before {
    content: @edicon-macos;
  }
}
.edicon-mail {
  &:before {
    content: @edicon-mail;
  }
}
.edicon-medium {
  &:before {
    content: @edicon-medium;
  }
}
.edicon-meetup {
  &:before {
    content: @edicon-meetup;
  }
}
.edicon-mixcloud {
  &:before {
    content: @edicon-mixcloud;
  }
}
.edicon-modelmayhem {
  &:before {
    content: @edicon-modelmayhem;
  }
}
.edicon-mumble {
  &:before {
    content: @edicon-mumble;
  }
}
.edicon-myspace {
  &:before {
    content: @edicon-myspace;
  }
}
.edicon-newsvine {
  &:before {
    content: @edicon-newsvine;
  }
}
.edicon-nintendo {
  &:before {
    content: @edicon-nintendo;
  }
}
.edicon-npm {
  &:before {
    content: @edicon-npm;
  }
}
.edicon-odnoklassniki {
  &:before {
    content: @edicon-odnoklassniki;
  }
}
.edicon-openid {
  &:before {
    content: @edicon-openid;
  }
}
.edicon-opera {
  &:before {
    content: @edicon-opera;
  }
}
.edicon-outlook {
  &:before {
    content: @edicon-outlook;
  }
}
.edicon-overwatch {
  &:before {
    content: @edicon-overwatch;
  }
}
.edicon-patreon {
  &:before {
    content: @edicon-patreon;
  }
}
.edicon-paypal {
  &:before {
    content: @edicon-paypal;
  }
}
.edicon-periscope {
  &:before {
    content: @edicon-periscope;
  }
}
.edicon-persona {
  &:before {
    content: @edicon-persona;
  }
}
.edicon-pinterest {
  &:before {
    content: @edicon-pinterest;
  }
}
.edicon-play {
  &:before {
    content: @edicon-play;
  }
}
.edicon-player {
  &:before {
    content: @edicon-player;
  }
}
.edicon-playstation {
  &:before {
    content: @edicon-playstation;
  }
}
.edicon-pocket {
  &:before {
    content: @edicon-pocket;
  }
}
.edicon-qq {
  &:before {
    content: @edicon-qq;
  }
}
.edicon-quora {
  &:before {
    content: @edicon-quora;
  }
}
.edicon-raidcall {
  &:before {
    content: @edicon-raidcall;
  }
}
.edicon-ravelry {
  &:before {
    content: @edicon-ravelry;
  }
}
.edicon-reddit {
  &:before {
    content: @edicon-reddit;
  }
}
.edicon-renren {
  &:before {
    content: @edicon-renren;
  }
}
.edicon-researchgate {
  &:before {
    content: @edicon-researchgate;
  }
}
.edicon-residentadvisor {
  &:before {
    content: @edicon-residentadvisor;
  }
}
.edicon-reverbnation {
  &:before {
    content: @edicon-reverbnation;
  }
}
.edicon-rss {
  &:before {
    content: @edicon-rss;
  }
}
.edicon-sharethis {
  &:before {
    content: @edicon-sharethis;
  }
}
.edicon-skype {
  &:before {
    content: @edicon-skype;
  }
}
.edicon-slideshare {
  &:before {
    content: @edicon-slideshare;
  }
}
.edicon-smugmug {
  &:before {
    content: @edicon-smugmug;
  }
}
.edicon-snapchat {
  &:before {
    content: @edicon-snapchat;
  }
}
.edicon-songkick {
  &:before {
    content: @edicon-songkick;
  }
}
.edicon-soundcloud {
  &:before {
    content: @edicon-soundcloud;
  }
}
.edicon-spotify {
  &:before {
    content: @edicon-spotify;
  }
}
.edicon-stackexchange {
  &:before {
    content: @edicon-stackexchange;
  }
}
.edicon-stackoverflow {
  &:before {
    content: @edicon-stackoverflow;
  }
}
.edicon-starcraft {
  &:before {
    content: @edicon-starcraft;
  }
}
.edicon-stayfriends {
  &:before {
    content: @edicon-stayfriends;
  }
}
.edicon-steam {
  &:before {
    content: @edicon-steam;
  }
}
.edicon-storehouse {
  &:before {
    content: @edicon-storehouse;
  }
}
.edicon-strava {
  &:before {
    content: @edicon-strava;
  }
}
.edicon-streamjar {
  &:before {
    content: @edicon-streamjar;
  }
}
.edicon-stumbleupon {
  &:before {
    content: @edicon-stumbleupon;
  }
}
.edicon-swarm {
  &:before {
    content: @edicon-swarm;
  }
}
.edicon-teamspeak {
  &:before {
    content: @edicon-teamspeak;
  }
}
.edicon-teamviewer {
  &:before {
    content: @edicon-teamviewer;
  }
}
.edicon-technorati {
  &:before {
    content: @edicon-technorati;
  }
}
.edicon-telegram {
  &:before {
    content: @edicon-telegram;
  }
}
.edicon-tripadvisor {
  &:before {
    content: @edicon-tripadvisor;
  }
}
.edicon-tripit {
  &:before {
    content: @edicon-tripit;
  }
}
.edicon-triplej {
  &:before {
    content: @edicon-triplej;
  }
}
.edicon-tumblr {
  &:before {
    content: @edicon-tumblr;
  }
}
.edicon-twitch {
  &:before {
    content: @edicon-twitch;
  }
}
.edicon-twitter {
  &:before {
    content: @edicon-twitter;
  }
}
.edicon-uber {
  &:before {
    content: @edicon-uber;
  }
}
.edicon-ventrilo {
  &:before {
    content: @edicon-ventrilo;
  }
}
.edicon-viadeo {
  &:before {
    content: @edicon-viadeo;
  }
}
.edicon-viber {
  &:before {
    content: @edicon-viber;
  }
}
.edicon-viewbug {
  &:before {
    content: @edicon-viewbug;
  }
}
.edicon-vimeo {
  &:before {
    content: @edicon-vimeo;
  }
}
.edicon-vine {
  &:before {
    content: @edicon-vine;
  }
}
.edicon-vkontakte {
  &:before {
    content: @edicon-vkontakte;
  }
}
.edicon-warcraft {
  &:before {
    content: @edicon-warcraft;
  }
}
.edicon-wechat {
  &:before {
    content: @edicon-wechat;
  }
}
.edicon-weibo {
  &:before {
    content: @edicon-weibo;
  }
}
.edicon-whatsapp {
  &:before {
    content: @edicon-whatsapp;
  }
}
.edicon-wikipedia {
  &:before {
    content: @edicon-wikipedia;
  }
}
.edicon-windows {
  &:before {
    content: @edicon-windows;
  }
}
.edicon-wordpress {
  &:before {
    content: @edicon-wordpress;
  }
}
.edicon-wykop {
  &:before {
    content: @edicon-wykop;
  }
}
.edicon-xbox {
  &:before {
    content: @edicon-xbox;
  }
}
.edicon-xing {
  &:before {
    content: @edicon-xing;
  }
}
.edicon-yahoo {
  &:before {
    content: @edicon-yahoo;
  }
}
.edicon-yammer {
  &:before {
    content: @edicon-yammer;
  }
}
.edicon-yandex {
  &:before {
    content: @edicon-yandex;
  }
}
.edicon-yelp {
  &:before {
    content: @edicon-yelp;
  }
}
.edicon-younow {
  &:before {
    content: @edicon-younow;
  }
}
.edicon-youtube {
  &:before {
    content: @edicon-youtube;
  }
}
.edicon-zapier {
  &:before {
    content: @edicon-zapier;
  }
}
.edicon-zerply {
  &:before {
    content: @edicon-zerply;
  }
}
.edicon-zomato {
  &:before {
    content: @edicon-zomato;
  }
}
.edicon-zynga {
  &:before {
    content: @edicon-zynga;
  }
}

