@font-face {
  font-family: 'edicon';
  src:  url('../fonts/edicon.eot?484r1f');
  src:  url('../fonts/edicon.eot?484r1f#iefix') format('embedded-opentype'),
    url('../fonts/edicon.woff2?484r1f') format('woff2'),
    url('../fonts/edicon.ttf?484r1f') format('truetype'),
    url('../fonts/edicon.woff?484r1f') format('woff'),
    url('../fonts/edicon.svg?484r1f#edicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="edicon-"], [class*=" edicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'edicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edicon-internet:before {
  content: "\e957";
}
.edicon-moddb:before {
  content: "\e94b";
}
.edicon-indiedb:before {
  content: "\e94c";
}
.edicon-traxsource:before {
  content: "\e94d";
}
.edicon-gamefor:before {
  content: "\e94e";
}
.edicon-pixiv:before {
  content: "\e94f";
}
.edicon-myanimelist:before {
  content: "\e950";
}
.edicon-blackberry:before {
  content: "\e951";
}
.edicon-wickr:before {
  content: "\e952";
}
.edicon-spip:before {
  content: "\e953";
}
.edicon-napster:before {
  content: "\e954";
}
.edicon-beatport:before {
  content: "\e955";
}
.edicon-hackerone:before {
  content: "\e956";
}
.edicon-hackernews:before {
  content: "\e946";
}
.edicon-smashwords:before {
  content: "\e947";
}
.edicon-kobo:before {
  content: "\e948";
}
.edicon-bookbub:before {
  content: "\e949";
}
.edicon-mailru:before {
  content: "\e94a";
}
.edicon-gitlab:before {
  content: "\e945";
}
.edicon-instructables:before {
  content: "\e944";
}
.edicon-portfolio:before {
  content: "\e943";
}
.edicon-codered:before {
  content: "\e940";
}
.edicon-origin:before {
  content: "\e941";
}
.edicon-nextdoor:before {
  content: "\e942";
}
.edicon-udemy:before {
  content: "\e93f";
}
.edicon-livemaster:before {
  content: "\e93e";
}
.edicon-crunchbase:before {
  content: "\e93b";
}
.edicon-homefy:before {
  content: "\e93c";
}
.edicon-calendly:before {
  content: "\e93d";
}
.edicon-realtor:before {
  content: "\e90f";
}
.edicon-tidal:before {
  content: "\e910";
}
.edicon-qobuz:before {
  content: "\e911";
}
.edicon-natgeo:before {
  content: "\e912";
}
.edicon-mastodon:before {
  content: "\e913";
}
.edicon-unsplash:before {
  content: "\e914";
}
.edicon-homeadvisor:before {
  content: "\e915";
}
.edicon-angieslist:before {
  content: "\e916";
}
.edicon-codepen:before {
  content: "\e917";
}
.edicon-slack:before {
  content: "\e918";
}
.edicon-openaigym:before {
  content: "\e919";
}
.edicon-logmein:before {
  content: "\e91a";
}
.edicon-fiverr:before {
  content: "\e91b";
}
.edicon-gotomeeting:before {
  content: "\e91c";
}
.edicon-aliexpress:before {
  content: "\e91d";
}
.edicon-guru:before {
  content: "\e91e";
}
.edicon-appstore:before {
  content: "\e91f";
}
.edicon-homes:before {
  content: "\e920";
}
.edicon-zoom:before {
  content: "\e921";
}
.edicon-alibaba:before {
  content: "\e922";
}
.edicon-craigslist:before {
  content: "\e923";
}
.edicon-wix:before {
  content: "\e924";
}
.edicon-redfin:before {
  content: "\e925";
}
.edicon-googlecalendar:before {
  content: "\e926";
}
.edicon-shopify:before {
  content: "\e927";
}
.edicon-freelancer:before {
  content: "\e928";
}
.edicon-seedrs:before {
  content: "\e929";
}
.edicon-bing:before {
  content: "\e92a";
}
.edicon-doodle:before {
  content: "\e92b";
}
.edicon-bonanza:before {
  content: "\e92c";
}
.edicon-squarespace:before {
  content: "\e92d";
}
.edicon-toptal:before {
  content: "\e92e";
}
.edicon-gust:before {
  content: "\e92f";
}
.edicon-ask:before {
  content: "\e930";
}
.edicon-trulia:before {
  content: "\e931";
}
.edicon-loomly:before {
  content: "\e932";
}
.edicon-ghost:before {
  content: "\e933";
}
.edicon-upwork:before {
  content: "\e934";
}
.edicon-fundable:before {
  content: "\e935";
}
.edicon-booking:before {
  content: "\e936";
}
.edicon-googlemaps:before {
  content: "\e937";
}
.edicon-zillow:before {
  content: "\e938";
}
.edicon-niconico:before {
  content: "\e939";
}
.edicon-toneden:before {
  content: "\e93a";
}
.edicon-augment:before {
  content: "\e908";
}
.edicon-bitbucket:before {
  content: "\e909";
}
.edicon-fyuse:before {
  content: "\e90a";
}
.edicon-yt-gaming:before {
  content: "\e90b";
}
.edicon-sketchfab:before {
  content: "\e90c";
}
.edicon-mobcrush:before {
  content: "\e90d";
}
.edicon-microsoft:before {
  content: "\e90e";
}
.edicon-pandora:before {
  content: "\e907";
}
.edicon-messenger:before {
  content: "\e906";
}
.edicon-gamewisp:before {
  content: "\e905";
}
.edicon-bloglovin:before {
  content: "\e904";
}
.edicon-tunein:before {
  content: "\e903";
}
.edicon-gamejolt:before {
  content: "\e901";
}
.edicon-trello:before {
  content: "\e902";
}
.edicon-spreadshirt:before {
  content: "\e900";
}
.edicon-500px:before {
  content: "\e000";
}
.edicon-8tracks:before {
  content: "\e001";
}
.edicon-airbnb:before {
  content: "\e002";
}
.edicon-alliance:before {
  content: "\e003";
}
.edicon-amazon:before {
  content: "\e004";
}
.edicon-amplement:before {
  content: "\e005";
}
.edicon-android:before {
  content: "\e006";
}
.edicon-angellist:before {
  content: "\e007";
}
.edicon-apple:before {
  content: "\e008";
}
.edicon-appnet:before {
  content: "\e009";
}
.edicon-baidu:before {
  content: "\e00a";
}
.edicon-bandcamp:before {
  content: "\e00b";
}
.edicon-battlenet:before {
  content: "\e00c";
}
.edicon-mixer:before {
  content: "\e00d";
}
.edicon-bebee:before {
  content: "\e00e";
}
.edicon-bebo:before {
  content: "\e00f";
}
.edicon-behance:before {
  content: "\e010";
}
.edicon-blizzard:before {
  content: "\e011";
}
.edicon-blogger:before {
  content: "\e012";
}
.edicon-buffer:before {
  content: "\e013";
}
.edicon-chrome:before {
  content: "\e014";
}
.edicon-coderwall:before {
  content: "\e015";
}
.edicon-curse:before {
  content: "\e016";
}
.edicon-dailymotion:before {
  content: "\e017";
}
.edicon-deezer:before {
  content: "\e018";
}
.edicon-delicious:before {
  content: "\e019";
}
.edicon-deviantart:before {
  content: "\e01a";
}
.edicon-diablo:before {
  content: "\e01b";
}
.edicon-digg:before {
  content: "\e01c";
}
.edicon-discord:before {
  content: "\e01d";
}
.edicon-disqus:before {
  content: "\e01e";
}
.edicon-douban:before {
  content: "\e01f";
}
.edicon-draugiem:before {
  content: "\e020";
}
.edicon-dribbble:before {
  content: "\e021";
}
.edicon-drupal:before {
  content: "\e022";
}
.edicon-ebay:before {
  content: "\e023";
}
.edicon-ello:before {
  content: "\e024";
}
.edicon-endomodo:before {
  content: "\e025";
}
.edicon-envato:before {
  content: "\e026";
}
.edicon-etsy:before {
  content: "\e027";
}
.edicon-facebook:before {
  content: "\e028";
}
.edicon-feedburner:before {
  content: "\e029";
}
.edicon-filmweb:before {
  content: "\e02a";
}
.edicon-firefox:before {
  content: "\e02b";
}
.edicon-flattr:before {
  content: "\e02c";
}
.edicon-flickr:before {
  content: "\e02d";
}
.edicon-formulr:before {
  content: "\e02e";
}
.edicon-forrst:before {
  content: "\e02f";
}
.edicon-foursquare:before {
  content: "\e030";
}
.edicon-friendfeed:before {
  content: "\e031";
}
.edicon-github:before {
  content: "\e032";
}
.edicon-goodreads:before {
  content: "\e033";
}
.edicon-google:before {
  content: "\e034";
}
.edicon-googlescholar:before {
  content: "\e035";
}
.edicon-googlegroups:before {
  content: "\e036";
}
.edicon-googlephotos:before {
  content: "\e037";
}
.edicon-googleplus:before {
  content: "\e038";
}
.edicon-grooveshark:before {
  content: "\e039";
}
.edicon-hackerrank:before {
  content: "\e03a";
}
.edicon-hearthstone:before {
  content: "\e03b";
}
.edicon-hellocoton:before {
  content: "\e03c";
}
.edicon-heroes:before {
  content: "\e03d";
}
.edicon-smashcast:before {
  content: "\e03e";
}
.edicon-horde:before {
  content: "\e03f";
}
.edicon-houzz:before {
  content: "\e040";
}
.edicon-icq:before {
  content: "\e041";
}
.edicon-identica:before {
  content: "\e042";
}
.edicon-imdb:before {
  content: "\e043";
}
.edicon-instagram:before {
  content: "\e044";
}
.edicon-issuu:before {
  content: "\e045";
}
.edicon-istock:before {
  content: "\e046";
}
.edicon-itunes:before {
  content: "\e047";
}
.edicon-keybase:before {
  content: "\e048";
}
.edicon-lanyrd:before {
  content: "\e049";
}
.edicon-lastfm:before {
  content: "\e04a";
}
.edicon-line:before {
  content: "\e04b";
}
.edicon-linkedin:before {
  content: "\e04c";
}
.edicon-livejournal:before {
  content: "\e04d";
}
.edicon-lyft:before {
  content: "\e04e";
}
.edicon-macos:before {
  content: "\e04f";
}
.edicon-mail:before {
  content: "\e050";
}
.edicon-medium:before {
  content: "\e051";
}
.edicon-meetup:before {
  content: "\e052";
}
.edicon-mixcloud:before {
  content: "\e053";
}
.edicon-modelmayhem:before {
  content: "\e054";
}
.edicon-mumble:before {
  content: "\e055";
}
.edicon-myspace:before {
  content: "\e056";
}
.edicon-newsvine:before {
  content: "\e057";
}
.edicon-nintendo:before {
  content: "\e058";
}
.edicon-npm:before {
  content: "\e059";
}
.edicon-odnoklassniki:before {
  content: "\e05a";
}
.edicon-openid:before {
  content: "\e05b";
}
.edicon-opera:before {
  content: "\e05c";
}
.edicon-outlook:before {
  content: "\e05d";
}
.edicon-overwatch:before {
  content: "\e05e";
}
.edicon-patreon:before {
  content: "\e05f";
}
.edicon-paypal:before {
  content: "\e060";
}
.edicon-periscope:before {
  content: "\e061";
}
.edicon-persona:before {
  content: "\e062";
}
.edicon-pinterest:before {
  content: "\e063";
}
.edicon-play:before {
  content: "\e064";
}
.edicon-player:before {
  content: "\e065";
}
.edicon-playstation:before {
  content: "\e066";
}
.edicon-pocket:before {
  content: "\e067";
}
.edicon-qq:before {
  content: "\e068";
}
.edicon-quora:before {
  content: "\e069";
}
.edicon-raidcall:before {
  content: "\e06a";
}
.edicon-ravelry:before {
  content: "\e06b";
}
.edicon-reddit:before {
  content: "\e06c";
}
.edicon-renren:before {
  content: "\e06d";
}
.edicon-researchgate:before {
  content: "\e06e";
}
.edicon-residentadvisor:before {
  content: "\e06f";
}
.edicon-reverbnation:before {
  content: "\e070";
}
.edicon-rss:before {
  content: "\e071";
}
.edicon-sharethis:before {
  content: "\e072";
}
.edicon-skype:before {
  content: "\e073";
}
.edicon-slideshare:before {
  content: "\e074";
}
.edicon-smugmug:before {
  content: "\e075";
}
.edicon-snapchat:before {
  content: "\e076";
}
.edicon-songkick:before {
  content: "\e077";
}
.edicon-soundcloud:before {
  content: "\e078";
}
.edicon-spotify:before {
  content: "\e079";
}
.edicon-stackexchange:before {
  content: "\e07a";
}
.edicon-stackoverflow:before {
  content: "\e07b";
}
.edicon-starcraft:before {
  content: "\e07c";
}
.edicon-stayfriends:before {
  content: "\e07d";
}
.edicon-steam:before {
  content: "\e07e";
}
.edicon-storehouse:before {
  content: "\e07f";
}
.edicon-strava:before {
  content: "\e080";
}
.edicon-streamjar:before {
  content: "\e081";
}
.edicon-stumbleupon:before {
  content: "\e082";
}
.edicon-swarm:before {
  content: "\e083";
}
.edicon-teamspeak:before {
  content: "\e084";
}
.edicon-teamviewer:before {
  content: "\e085";
}
.edicon-technorati:before {
  content: "\e086";
}
.edicon-telegram:before {
  content: "\e087";
}
.edicon-tripadvisor:before {
  content: "\e088";
}
.edicon-tripit:before {
  content: "\e089";
}
.edicon-triplej:before {
  content: "\e08a";
}
.edicon-tumblr:before {
  content: "\e08b";
}
.edicon-twitch:before {
  content: "\e08c";
}
.edicon-twitter:before {
  content: "\e08d";
}
.edicon-uber:before {
  content: "\e08e";
}
.edicon-ventrilo:before {
  content: "\e08f";
}
.edicon-viadeo:before {
  content: "\e090";
}
.edicon-viber:before {
  content: "\e091";
}
.edicon-viewbug:before {
  content: "\e092";
}
.edicon-vimeo:before {
  content: "\e093";
}
.edicon-vine:before {
  content: "\e094";
}
.edicon-vkontakte:before {
  content: "\e095";
}
.edicon-warcraft:before {
  content: "\e096";
}
.edicon-wechat:before {
  content: "\e097";
}
.edicon-weibo:before {
  content: "\e098";
}
.edicon-whatsapp:before {
  content: "\e099";
}
.edicon-wikipedia:before {
  content: "\e09a";
}
.edicon-windows:before {
  content: "\e09b";
}
.edicon-wordpress:before {
  content: "\e09c";
}
.edicon-wykop:before {
  content: "\e09d";
}
.edicon-xbox:before {
  content: "\e09e";
}
.edicon-xing:before {
  content: "\e09f";
}
.edicon-yahoo:before {
  content: "\e0a0";
}
.edicon-yammer:before {
  content: "\e0a1";
}
.edicon-yandex:before {
  content: "\e0a2";
}
.edicon-yelp:before {
  content: "\e0a3";
}
.edicon-younow:before {
  content: "\e0a4";
}
.edicon-youtube:before {
  content: "\e0a5";
}
.edicon-zapier:before {
  content: "\e0a6";
}
.edicon-zerply:before {
  content: "\e0a7";
}
.edicon-zomato:before {
  content: "\e0a8";
}
.edicon-zynga:before {
  content: "\e0a9";
}
